@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

main {
  min-height: 80vh;
}
.logo {
  width: 40px;
  height: 40px;
}
.herosection{
  height: 80vh; 
  background-image: url(https://images.unsplash.com/photo-1463320726281-696a485928c7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
  background-size: cover; 
  background-position: center;
}
.hero{
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  background-color: rgba(0,0,0,.7);
}
.hero p {
  color: #bbb;
}
.Headline {
  color: #9B5DE5;
}
.buttonCTA {
  border-radius: 30px; 
  background-color: #9B5DE5;
}
.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}
@media screen and (max-width: 650px){
  .headline {
    left: 20px;
  } 
  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}
